@import url('https://fonts.bunny.net/css?family=Open+Sans&display=swap');
@import url('https://fonts.bunny.net/css?family=Merriweather:wght@400;700&display=swap')

header
  position: absolute
  top 0
  left 50%
  transform: translate(-50%, 0)
  z-index: 100
  padding: 8px
  background-color: #f0edf2

  font-family 'Open Sans', sans-serif
  font-size: 80%
  // border: 3px solid #2e4459
  border-radius: 8px
  margin-top: -8px
  text-align: center
  background: linear-gradient(#fcf7ff 0%, #fcf7ff 90%, #e1c7f2 95%, #3b3666 100%)
  // box-shadow: 3px 3px 2px 2px #3b366633
  h2
    font-size: 12pt
    font-family: 'Merriweather', serif
    white-space: nowrap
  p
    text-align: left
  a
    color #5d4fd6
    padding 0 6px
  .space
  a > img
    height 0.9em
    width auto
    filter  invert(1) brightness(50%) sepia(100%) saturate(10000%) hue-rotate(246deg) saturate(62%)
  #got-it
    float: right

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


#loading-error-message
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  animation: fadeIn ease 60s;

.hidden
  display none

.desktop-controls
  z-index: 99
  position: absolute
  top: 0
  left: 0
  user-select: none
  & > .control
    display: block
    margin: 3px
    background: radial-gradient(rgba(100 100 100 1.0), rgba(0 0 0 0))
    border-radius 100%
    border: 1px solid white

.keyboard-form
  z-index: -9
  position: absolute;
  bottom: 0
  left: 50%
  transform: translate(-50%, 0);
  &:focus
    z-index: 999

.debug
  position: absolute
  left: 0
  top: 0
  z-index: 999

.spectator-canvas
  position: absolute
  right: 0
  bottom: 0
  z-index: 99
  width: 30%
  height: 20%
  border: 1px solid black

.crash-bg
  position: absolute
  top: 0
  left: 0
  z-index: 100
  width: 100%
  height: 100%
  background-color: rgba(0.3, 0.3, 0.3, 0.3)

.crash-handler
  background: white
  width: 80%
  max-width: 80em
  border: 1px solid darkred
  box-shadow: 3px 3px 10px darkred
  padding: 0.3em
  position: absolute
  top: 10%
  max-height: 90%
  overflow-y: auto

#loading-page
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 99
  background-color: #cccccc
  background-image: url("./static/images/loading.webp")
  background-position: center /* Center the image */
  background-repeat: no-repeat /* Do not repeat the image */
  background-size: cover
  color: white
  .loading-bar
    width: 80%
    height: 10px
    border-radius: 10px
    border: 1px solid white
    transform: translateX(10%)
    box-shadow: 0 0 5px 5px #3b3666
    .loading-progress
      width: 0%
      height: 100%
      border-radius: 10px
      // background-color: #e1c7f2//rgba(255, 0, 0, 0.5)
      background: linear-gradient(#fcf7ff, #e1c7f2, #3b3666)

.bottom-bar
  position: absolute
  bottom: 0
  left: 50%
  width: 50%
  transform: translateX(-50%)
  background-color: rgba(44, 44, 44, 0.3)
  border-radius: 5px
  text-align: center
  font-size: 175%

#drag-and-drop-overlay
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  z-index: 99999
.minimized ~ #drag-and-drop-overlay
    z-index: -99999
#drag-and-drop
  position: absolute
  bottom: 50%
  left: 50%
  width: 50%
  height: 50%
  transform: translate(-50%, 50%)
  border-radius: 5px
  z-index: 98
  padding: 1em
  opacity: 1
  color: black
  margin: auto
  font-size: 175%
  background-color: #f0edf2AA
  box-shadow: 0px 0px 10px 10px #f0edf2AA
  user-select: none
  transition: width 1s, height 1s, left 1s, top 1s, bottom 1s, transform 1s
  img
    user-select: none
    filter: invert(1)
    position: absolute
    top: 50%
    left: 50%
  &.minimized
    top: inherit
    bottom: 0px
    left: 0px
    transform: none
    width: auto
    height: auto
    font-size: 0px
    color: rgba(0,0,0,0)
    img
      position: static
      display: block



#launcher
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 99
  margin: 0
  padding: 0
  background-color: #cccccc
  background-image: url("./static/images/loading.webp")
  background-position: center /* Center the image */
  background-repeat: no-repeat /* Do not repeat the image */
  background-size: cover
  color: white
  .launch-box
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  .launch-button
    font-family 'Open Sans', sans-serif
    display: block
    width: max-content
    margin: auto
    padding: 10px
    border-radius: 5px
    padding: 0.5em
    font-size: 200%
    margin-top: 10%
    background: linear-gradient(#fcf7ff 0%, #fcf7ff 90%, #e1c7f2 95%, #3b3666 100%)
    box-shadow: 0 0 5px 5px #3b3666
    color: black
    border: none
    text-align: center
    text-decoration: none
    &:hover
      box-shadow: 0 0 5px 5px #ffffff

.launch-page #got-it
  display: none
